form
{
  margin-left: 600px;
  margin-right: 970px;
  margin-top: 80px;
  background-color: none;
  background-image: url('https://images.pexels.com/photos/1020315/pexels-photo-1020315.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  /* border: 5px solid whitesmoke; */
  color: whitesmoke;
  line-height: 180%;
  background-repeat: no-repeat;
  width: 300px;
  border-collapse: collapse
  
}
body{
  background-color:black;
  /* background-image: url("https://images.pexels.com/photos/1020315/pexels-photo-1020315.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"); */
  background-repeat: no-repeat;
  background-size: 100%;
  
}
.a{
  text-align: center;
  margin-left:0%
}
.bcd{

  text-align: center
}
form input,button
{
  margin-left:0%
}
.centered {
  font-style: italic;
  color: whitesmoke;
  position: absolute;
  top: 20%;
  left: 24%;
  /* transform: translate(-50%, -50%); */
}
.t{
  margin-left: 23%;
  color: whitesmoke;
  font-style: normal
}
.navbar-brand{
  border-image-source: url('https://cdn.shopify.com/s/files/1/1095/6418/products/3D-1070_large.jpg?v=1529608208');
  color: whitesmoke;
  font-size: 30px
}
.avatar
{
  /* margin-top: 200px;
  margin-left: 200px; */
  width: 100px;
  height:100px;
  border-radius: 50%;
  position:absolute;
  top:130px;
  
  
}
.spanclass
{
  float: right;
}
form input{
  background: transparent;
  color: whitesmoke;
  width: 100%;
}
form select
{
  background: transparent;
  color: whitesmoke;
  width: 100%;
}
.transparent
{
  background: transparent;
  color: whitesmoke;
  
}

form button{
  margin-top:5%;
  background: transparent;
  color: whitesmoke;
  width: 100%;
  border-radius:20px;
  outline:none;
  font-weight:bolder;
  text-transform: uppercase
}
button:focus{
  outline:none
}
button:hover
{
  color:black;
  background-color:white
}
input::placeholder
{
  color:white;
  padding:2%
}