
.qw{
    text-align: left
  }
  Form{
    margin-right: 200px;
    border: 1px solid;
    margin-left: 900px;
    margin-bottom:  600px;
    margin-top: 70px;
    background-image: url('https://media.istockphoto.com/photos/blue-soft-background-picture-id689752378?k=6&m=689752378&s=612x612&w=0&h=6KFi1iqcd5LVwA0bzgrdF1jzSK2fS6hfBqAdcNJnB-c=')
  
    
  }
  .bd{
    background-image: url('https://media.istockphoto.com/photos/blue-soft-background-picture-id689752378?k=6&m=689752378&s=612x612&w=0&h=6KFi1iqcd5LVwA0bzgrdF1jzSK2fS6hfBqAdcNJnB-c=');
    background-size:cover;
    background-repeat: no-repeat
  
  }
  /* body{
    background-image: url('https://media.istockphoto.com/photos/blue-soft-background-picture-id689752378?k=6&m=689752378&s=612x612&w=0&h=6KFi1iqcd5LVwA0bzgrdF1jzSK2fS6hfBqAdcNJnB-c=');
    background-size:cover;
    background-repeat: no-repeat
    
  } */