form
{
  margin-left: 100px;
  margin-right: 900px;
  margin-top: 80px;
  background-color: none;
  background: transparent;
  /* background-image: url('https://images.pexels.com/photos/1699020/pexels-photo-1699020.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
  /* border: 5px solid whitesmoke; */
  color: whitesmoke;
  line-height: 180%;
  background-repeat: no-repeat; 
  width: 300px;
  background-size: 100%;
  
  border-collapse: collapse;
  
  
}
body{
  background-color:none;
  /* background-image: url('https://img.freepik.com/free-photo/wall-wallpaper-concrete-colored-painted-textured-concept_53876-31799.jpg?size=626&ext=jpg'); */
   /* background-image: url("https://images.pexels.com/photos/1020315/pexels-photo-1020315.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");  */
  background-image: url('http://s1.picswalls.com/wallpapers/2015/09/20/background-hd-2015_111526235_269.jpg');
   background-repeat: no-repeat;
  background-size: 100%;
  
}
.a{
  text-align: center;
  margin-left:0%
}
.bcd{

  text-align: center
}
form input,button
{
  margin-left:0%
}
.centered {
  /* font-style: italic; */
  color: whitesmoke;
  position: absolute;
  top: 20%;
  left: 24%;
  /* transform: translate(-50%, -50%); */
}
.t{
  margin-left: 23%;
  color: whitesmoke
  /* font-style: italic */
}
.navbar-brand{
  /* border-image-source: url('https://cdn.shopify.com/s/files/1/1095/6418/products/3D-1070_large.jpg?v=1529608208'); */
  color: whitesmoke;
  font-size: 30px
}
.button{
  margin-left: 200px
 
}
.nav-item{
  color: whitesmoke 
}
.login-bottom{
  margin-left: 30%;
  color: red
}
.login-bottom:hover
{
  text-decoration: none;
  color:white
}
.navbr{
  background-color: transparent
}
.buttoninleaveapproval{
  margin-LEFT: 1250px
}
.frontpagelogo{
  margin-left: 400px;
  margin-top: 40px;
}
h3{
  color: whitesmoke;
  margin-top: -10px
}